<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css"> -->
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<title>Loja do Fábio - Cadastrar</title>
</head>
<body>
	<div class="header clearfix navbar navbar-expand-md fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Loja do Fabio</a>
		<ul id="navbarsExampleDefault" class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="produtos">Produtos</a></li
			<li class="nav-item active"><a class="nav-link" href="cadastrar-produto">Cadastrar produto</a></li>
		</ul>

	</div>

	<div class="container pra-baixo">
		<form action="produto-cadastrado" method="post">
			<table class="table">
				<tr>
					<td> Nome</td>
					<td><input class="form-control" type="text" name="nome"></td>
				</tr>
				<tr>
					<td>Preço:</td>
					<td><input class="form-control" type="text" name="preco"></td>
				</tr>

				<tr>
					<td>Descrição:</td>
					<td><textarea class="form-control" name="descricao"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-primary" name="Cadastrar"/>	</td>
				</tr>
			</table>
		</form>
	</div>
,
</body>
</html>